/**
 * @file
 * Styles for user models administration pages.
 */

.user-model-form .permissions-operations {
  display: inline-block;
}
.user-model-form .permissions-operations > div,
.user-model-form .permissions-operations > input {
  float: left;
  margin: 0;
}
.user-model-form .permissions-operations > div {
  padding: 0.1875em;
}
.user-model-form .permissions-operations > input {
  margin-left: 1em;
  margin-right: 3em;
}
