/**
 * @file
 * Styles for user models entity access field type widget.
 */

.field--type-user-models-entity-access div.form-type-radio {
    display: inline;
    margin-right: 1em;
}

.field--type-user-models-entity-access .form-type-radio label:after,
.field--type-user-models-entity-access .form-type-radio .label:after {
    content: '';
}
